<div id="contact">


<div class="contact">
  <p class="contact-header">Contact Us</p>
<div class="contact-details">
<p>Phone:9841433305, 9851108486</p>
<p>Email:brightfuturess19@gmail.com</p>
<p>Address:Naikap,Kathmandu</p>
</div>

</div>
</div>
