<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <link rel="icon" href="https://brightfuture.edu.np/frontend/images/logo.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="style/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  <title><%=title %> | Bright Future Secondary School | Naikap, Kathmandu</title>
</head>
<body>
<div class="navigation-menu">
<div class="<%= title %>">


  <div class="website-logo">
    <img src="../image/logo.png" alt="">
  </div>
  <ul>

  <li><a href="/">Home</a></li>
  <li><a href="/admission">Admission Form</a></li>
  <li><a href="/academics">Academics</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="#contact">Contact Us</a></li>

  </ul>
</div>
</div>
