<%- include ("includes/header") -%>
<div class="academics-header">
  <h4>
    <%= title %>
   </h4>
</div>
<div class="science-sidebar">
<img src="../image/science.png"  alt="">

</div>
<div class="science-description">
<h2>Science-Evening Shift Only</h2>
<p>Persuing +2 in Science is suitable for the students opting to create/join a career in the field of Science and
   Technology and related disciplines. 10 + 2 in science entitles a student with the eligibility to pursue a career
   in the field of Medicine, Engineering and other applied and theoretical natural science sectors.

<ul>
  <li>  Computer Group: This is for the students interested in Computer and allied fields.</li>
  <li>Physical Group: This also for students opting for Engineering and allied fields of Physical Sciences.</li>
<li>    Biological Group: This is for the students interested in medicine and allied fields as well as Bio Sciences.
</li>
</ul>


 Plus two in Science is for those students who have an aptitude for
  science and mathematics. This program aims to develop strong foundation in students. On completion
  students can pursue their further studies in medicine, engineering or other science related studies.</p>

</div>
<div class="management-sidebar">
<img src="../image/management.jpg" alt="">
</div>
<div class="management-description">
<h2>Management-Morning Shift Only</h2>
<p>Plus two in management course is designed to develop a strong foundation on management studies. Students learn to become competent, confident and academically sound in their area of study and will therefore have the benefit of deciding, at the end of course, what aspects of business management studies would interest them at under graduate programs. After completion of +2 students can study courses like BBA, BBM, BBS, BIM, BPA which will unlock their doors to enter in the choice of their industry like Banking & Insurance, Hotel & Hospitality, Sales & Marketing, as an Accountant in Banks, Business Firms, Industries etc.</p>
</div>
<%- include ("includes/footer") -%>
<script src="../js/script.js"></script>
