
<%- include ("includes/header") -%>
<div class="slogan-card">
  <p>Education on Your Terms </p>
</div>
<div class="academics-card">
  <div class="science-card">
  <p class="card-text">
    <a href="/academics">Science</a></p>
  </div>
  <div class="management-card">
    <p class="card-text">
      <a href="/academics">Management</a></p>
  </div>
</div>
<div class="management-team">
<p class="header-text">Management Team</p>
<div class="management-profiles">
  <div class="first-profile">
    <div class="image"><img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-0/c0.0.370.370a/p370x247/78042710_2544024522340623_1797630760417492992_n.jpg?_nc_cat=110&_nc_sid=7aed08&_nc_ohc=EtdxbdAeBjAAX-5cPd9&_nc_ht=scontent.fktm3-1.fna&oh=9860894359a4b90289d3fb24f5a1ade6&oe=5EEAE8E5" alt=""></div>
<p class="name">Shyam Maharjan</p>
<p class="post">Principal</p>
  </div>
  <div class="second-profile">
    <div class="image">
      <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/55557108_2351099218256507_8205105999019769856_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=C_lQI5vvzcYAX9BlHiP&_nc_ht=scontent.fktm3-1.fna&oh=d2e1b8fd79342bf7903190e01d25ad17&oe=5EEBE546" alt="">
    </div>
    <p class="name">Deepak Poudel</p>
    <p class="post">Manager</p>
  </div>
</div>
</div>
<%- include ("includes/footer.ejs") -%>
</body>
</html>
